#pres_modal {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

#pres_tab {
  padding: 3px 15px 0px 3px;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 992px) {
  #m_form_label {
    padding-left: 40px;
    width: 25%;
  }
}

