#pres_modal {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

#pres_tab {
  padding: 3px 15px 0px 3px;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 992px) {
  #m_form_label {
    padding-left: 87px;
    width: 25%;
  }
}

@media (max-width: 992px) {
  #m_form_label {
    padding-top: 20px;
  }
}

.typeahead,
.tt-query,
.tt-hint {
  line-height: 30px;
  outline: medium none;
}

.typeahead {
  background-color: #FFFFFF;
}

.twitter-typeahead {
  width: 100%;
}

.typeahead:focus {
  border: 2px solid #CCD0D7;
}

.tt-query {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
  color: #999999;
}

.tt-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 100%;
}

.tt-suggestion {
  font-size: 12px;
  /* Set suggestion dropdown font size */
  padding: 3px 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #1ABB9C;
  color: #FFFFFF;
}

.tt-suggestion p {
  margin: 0;
}

.added_medicine {
  padding: 0px 0px 0px 0px;
}

.added_medicine_head {
  background: #395760f7 !important;
}

#mname {
  margin-top: -6px;
  margin-bottom: -4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.h_med {
  font-weight: 600 !important;
}

.mlist_card {
  margin: 1px;
  padding: 0px 0px 0px 5px;
  width: 174px;
  min-height: 90px;
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: inherit;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0);
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}

.control {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 9px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 200;
  width: 42%;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: #1abb9c;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1abb9c;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.m_input_dis:disabled {
  background-color: #e6e6e6;
}

